html {
  font-size: 62.5%;
}

body {
  background-color: #fffdf0;
  color: #594f4f;
}

a:hover {
  text-decoration: none;
}

.talk-preview {
  margin-top: 2rem;
  width: 100%;
}

.talk-description {
  color: #666;
}

.talk-tag {
  background-color: #594f4f;
  color: #fff;
  padding: 0.4rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
}

.talk-title {
  font-size: 2rem;
}

.talk-byline {
  color: #666;
}

.talk-speaker {
  font-weight: bold;
  color: #594f4f;
  background-color: #EBE8D9;
  padding: 0 0.2rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
}

.talk-location {
  color: #594f4f;
}

.talk-year {
  color: #594f4f;
}

hr {
  margin: 0.5rem 0rem;
  color: #45ada8;
  background-color: #45ada8;
  border-color: #45ada8;
}

.section-header {
  color: #594f4f;
  font-size: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  text-transform: uppercase;
  font-weight: bold;
}

.list-wrapper, .about-wrapper {
  margin-top: 2rem;
}

.about-wrapper a {
  color: #594f4f;
  font-weight: bold;
}

.about-wrapper h1 {
  font-size: 2rem;
  margin-top: 3rem;
}

.home-wrapper {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0 1rem 1rem 1rem;
  color: #444;
  text-align: center;
}

.home-wrapper a {
  color: #444;
}

.home-wrapper > div {
  background-color: #ebe8d9;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  padding: 1rem;
}

.logo {
  font-family: "Lobster", "cursive";
  font-weight: normal;
}